<h2>C1</h2>

<h4>Integer: {{var1}}</h4>
<p>String:{{var2}}</p>
<p>Date:{{var3}}</p>

<ul>
    <li *ngFor="let a of array1">
        {{a}}
    </li>
</ul>

<br>
<ul>
    <li>
        <select>
            <option *ngFor="let a of array1">{{a}}</option>
        </select>
    </li>
</ul>

<br>
<li>
    <select id="selection" [(ngModel)]="selection" (change)="OnChange()">
        <option *ngFor="let a2 of array2">{{a2}}</option>
    </select><br>
    <br>
    <div *ngIf="selection==='textbox'">
        <input type="text" [(ngModel)]="textbox1">
    </div><br>
    <div *ngIf="selection==='textarea'">
        <textarea name="" id="" cols="30" rows="10" [(ngModel)]="textarea1"></textarea>
    </div>
</li>